body, html {
  font-family: 'Inter', sans-serif; /* A popular modern font */
  background-color: #F5F5F5; /* Lighter background for better readability */
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure content fills the viewport */
}

header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; /* Ensure it's above other elements */
  background-color: #0056b6;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

footer {
  background-color: #002C54;
  color: white;
  padding: 15px;
  text-align: center;
}

.conversation-area {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px;
}

.message {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
   /* Adjust the max width as needed */
}

.user-message {
  background-color: #002C54;
  color: white;
  text-align: right;
  margin-left: auto;
  max-width: 50%;
}

.bot-message {
  background-color: #77d6ff;
  color: #333;
  text-align: left;
  margin-right: auto;
  max-width: 50%;
}

/* Auto-scroll to the bottom */
.conversation-area {
  /* ... other properties ... */
  scroll-behavior: smooth; /* For smoother scrolling */
}



input[type="text"] {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 25px;
  margin-right: 10px;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  background-color: #77d6ff;
  color: black;
  cursor: pointer;
}

